<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>63862180399-ute3450gi57iing9gupmsua25lg6lqmt.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.63862180399-ute3450gi57iing9gupmsua25lg6lqmt</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>63862180399-dpgv8jnbnbj4c94mse2628467iac3kns.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyDAp6ZB7nlFrxOATmRuysvSGcSSFL1c3Tw</string>
	<key>GCM_SENDER_ID</key>
	<string>63862180399</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.perpusgo</string>
	<key>PROJECT_ID</key>
	<string>perpusgo-824d1</string>
	<key>STORAGE_BUCKET</key>
	<string>perpusgo-824d1.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:63862180399:ios:76feb2a2253dbce0b394da</string>
</dict>
</plist>